.overlay-container {
  position: relative;
}

.overlay-bg h1 {
  z-index: 5 !important;
  top: 20%;
  left: 5%;
}

.overlay-bg::after {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
}

.centred {
  position: relative;
  top: 40%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@media (max-width: 768px) {
  .overlay-bg {
    height: 65vh !important;
  }
}

@media (max-width: 322px) {
  .nav-font {
    font-size: 0.83rem !important;
  }
}

@media (max-width: 300px) {
  .nav-font {
    font-size: 0.65rem !important;
  }
}
